.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 50px;
}


.menu-item {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url('/billy.jpg');
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    cursor: pointer;
}

.title-text {
    font-size: 64px;
    font-weight: 800;
    margin: 0;

    background: linear-gradient(50deg, #0011ff, #f30202);

    /* Vendor-prefixed version for WebKit browsers (Chrome, Safari, Edge) */
    -webkit-background-clip: text;

    /* Standard property for future browser support */
    background-clip: text;

    /* Required to make gradient text visible */
    color: transparent;

    /* Vendor prefix for Safari */
    -webkit-text-fill-color: transparent;
}