.users-content-container {
    margin: 80px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
}

.user-card-container {
    width: 300Px;
    height: 150px;
    background: rgba(100, 148, 237, 0.308);
    border-radius: 20;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    text-decoration: none;
    color: inherit;
}

.user-card-container:hover {
    background: rgba(100, 148, 237, 0.6);
}

.user-info-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.user-info-container img {
    width: 80px;
    height: 80px;
    border-radius: 100;
}

.user-goat-count-container {
    display: flex;
    justify-content: space-evenly;
}

.week-goat-count {
    width: 100Px;
    height: 30px;
    background: rgb(238, 255, 0);
    border-radius: 20;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-goat-count {
    width: 100Px;
    height: 30px;
    background: rgb(16, 238, 53);
    border-radius: 20;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}