.match-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    overflow: auto;
}

.match-box {
    background-color: rgba(237, 237, 237, .7);
    border-radius: 40px;
    height: 120px;
    width: 47%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 10px 10px;
    box-sizing: border-box;
}

.match-container img {
    width: 80px;
    object-fit: contain;
}

.team-container {
    display: flex;
    flex-direction: column;
}

.team-standing-text {
    margin: 5px;
    text-align: center;
}

.time-score-text {
    font-weight: lighter;
    text-align: center;
}

.odd-text {
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
}