.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 50px;
}


.menu-item {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url('/billy.jpg');
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    cursor: pointer;
}

.title-text {
    font-size: 70px;
    color: #000;
    margin: 0;
}