.leaderboard-container {
    flex: 1;
    display: flex;
    padding: 0px 80px;
    box-sizing: border-box;
    overflow-y: auto;
}

.leaderboard {
    flex: 1;
    display: flex;
    background-color: rgba(255, 250, 245, .7);
    box-sizing: border-box;
    padding: 10px 20px 20px;
    flex-direction: column;
    overflow-y: auto;
}

.user-container {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-name {
    flex: 1;
    text-align: left;
    font-size: 22px;
    padding-left: 50px;
}

.user-point {
    width: 80px;
    text-align: right;
    font-weight: 500;
    font-size: 20px;
}