.podium-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.top3-container {
    position: absolute;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.first-user-icon {
    width: 130px;
    border-radius: 50%;
}

.second-user-icon {
    width: 110px;
    border-radius: 50%;
    transform: translateY(60px);
}

.third-user-icon {
    width: 100px;
    border-radius: 50%;
    transform: translateY(80px);
}

.type-point-button {
    display: flex;
    justify-content: center;
    padding: 0px 80px;
}

.type-point-button div {
    flex: 1;
    text-align: center;
    font-weight: 350;
    background-color: rgba(255, 250, 245, .7);
    cursor: pointer;
    padding: 20px 0px;
}

.type-point-button div.active {
    color: purple;
    border-bottom: 2px solid purple;
}

.type-point-button div:hover {
    color: purple;
}

.point-rank-container {
    flex: 1;
    display: flex;
    padding: 0px 80px;
    box-sizing: border-box;
    overflow-y: auto;
}

.point-rank {
    flex: 1;
    display: flex;
    background-color: rgba(255, 250, 245, .7);
    box-sizing: border-box;
    padding: 10px 20px 20px;
    flex-direction: column;
    overflow-y: auto;
}

.user-container {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-name {
    flex: 1;
    text-align: left;
    font-size: 22px;
    padding-left: 50px;
}

.user-point {
    width: 80px;
    text-align: right;
    font-weight: 500;
    font-size: 20px;
}