.type-point-button {
    display: flex;
    justify-content: center;
    padding: 0px 80px;
}

.type-point-button div {
    flex: 1;
    text-align: center;
    font-weight: 350;
    background-color: rgba(255, 250, 245, .7);
    cursor: pointer;
    padding: 20px 0px;
}

.type-point-button div.active {
    color: purple;
    border-bottom: 2px solid purple;
}

.type-point-button div:hover {
    color: purple;
}