.profile-container {
    margin: 20px 100px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-icon {
    width: 130px;
    border-radius: 50%;
}

.point-card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.point-card {
    width: 300Px;
    height: 90px;
    background: rgb(255, 255, 255);
    border-radius: 20;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.day-points {
    border-left: rgb(236, 92, 92) 5px solid;
}

.day-points .content h1 {
    color: rgb(236, 92, 92);
}

.week-points {
    border-left: rgb(98, 204, 207) 5px solid;
}

.week-points .content h1 {
    color: rgb(98, 204, 207);
}

.month-points {
    border-left: rgb(66, 170, 230) 5px solid;
}

.month-points .content h1 {
    color: rgb(66, 170, 230);
}

.season-points {
    border-left: rgb(25, 199, 25) 5px solid;
}

.season-points .content h1 {
    color: rgb(25, 199, 25);
}

.alltime-points {
    border-left: rgb(185, 17, 207) 5px solid;
}

.alltime-points .content h1 {
    color: rgb(185, 17, 207);
}

.header {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h4 {
    margin: 0px;
    font-size: 20px;
}

.header p {
    margin: 0px;
    font-size: 15px;
    opacity: 0.6;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1 {
    width: 100px;
    margin: 0px;
    font-size: 35px;
    text-align: center;
}


.content p {
    margin: 0px;
    font-size: 15px;
    opacity: 0.6;
    text-align: center;
}