body {
    margin: 0;
    background-color: #FFFEDF;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: -1;
}